html {
  box-sizing: border-box;
}
body {
  background-color: rgb(212, 212, 236);
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.container {
  margin: 0 auto;
  padding-right: 30px;
  padding-left: 30px;
}
.input-container {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.input {
  width: 25%;
  text-align: center;
  height: 30px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px #222222;
  font-size: 25px;
  color: #222222;
}

.output {
  padding-top: 50px;
}

.output__country-list {
  margin: 0 auto;
  padding: 0;
  width: 25%;
  list-style: none;
  font-size: 21px;
}

.output__country-list li:not(:last-child) {
  margin-bottom: 10px;
}

.output__country-list img {
  margin-right: 10px;
}

.output__country-title {
  text-align: center;
  font-weight: 700;
  font-size: 50px;
  margin: 0;
  padding: 0;
}

.output__country-details {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-grow: 1;
  width: 100%;
  padding-top: 30px;
}
.output__country-details p {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 700;
}
.country-details--text {
  color: #222222;
  font-weight: 400;
}
.country-details__info {
  display: flex;
  flex-direction: column;
}
.country-details__languages-list {
  margin: 0;
}

.country-details__languages-list li {
  font-size: 30px;
  font-weight: 400;
}

.country-details__img {
  display: block;
  height: auto;
}
